# User Settings
[user]
	name = Quan To
	email = btquanto@gmail.com
	signingkey = ~/.ssh/id_ed25519

# Commit Settings
[commit]
	gpgsign = false

# Init Settings
[init]
	defaultBranch = main

# Core Settings
[core]
	autocrlf = false
	excludesfile = ~/.gitignore
	editor = vim
	pager = vim -c 'set nonumber buftype=nofile' -

# User Interface
[color]
	ui = auto
	diff = false
	status = auto
	branch = auto
	interactive = auto

# Diff and Merge Tools
[diff]
	tool = vimdiff
	colorMoved = default

[difftool]
	prompt = false

[merge]
	tool = vimdiff

# Aliases
[alias]
	d = difftool
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	lg = log --oneline --graph --decorate

# Branch Behavior
[branch]
	autosetuprebase = always

[branch "main"]
	rebase = true

[branch "master"]
	rebase = true

# Push and Pull Defaults
[push]
	default = current
	autoSetupRemote = true

[pull]
	default = current
	rebase = true

[fetch]
	prune = true

# Reuse Recorded Resolution
[rerere]
	enabled = true

# Credentials
[credential]
	helper = cache --timeout=7200

# Git LFS
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

# URL Shortcuts
[url "git@github.com:"]
	insteadOf = https://github.com
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com
